@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(79, 117, 146, 0.76); /* fallback for old browsers */
    background: -webkit-linear-gradient(left, rgba(217, 213, 217, 0.78), rgba(154, 157, 156, 0.76));
    background: -moz-linear-gradient(left, rgba(217, 213, 217, 0.78), rgba(154, 157, 156, 0.76));
    background: -o-linear-gradient(left, rgba(217, 213, 217, 0.78), rgba(154, 157, 156, 0.76));
    background: linear-gradient(to right, rgba(217, 213, 217, 0.78), rgba(154, 157, 156, 0.76));
    font-family: "Roboto", sans-serif;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    width: 400px;
    margin: 100px auto;
    padding: 80px 45px 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.button-if-form-ok {
    background: #596cac;
}

.button-if-invalidForm {
    background: #ff718f;
    cursor: default;
}

.pointable-logout:hover {
    cursor: pointer;
}

.button-if-form-ok, .button-if-form-ok:active, .button-if-form-ok:focus {
    background: #3d51be;
    cursor: pointer;
}

.transition-container {
    display: inline-block;
    position: absolute;
    color: white;
    font-weight: 400;
    top: 0;
    left: 0;
    background: rgba(41, 69, 147, 0.77);
}

.active {
    background: #3d51be;
}

.error {
    font-size: 12px;
    color: #ff2d2d;
}

.options {
    text-align: center;
    padding-left: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0;
}

.close-registration-form {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #7e7e7e;
}

.close-registration-form:hover {
    color: #1a1a1a;
}

.login-message {
    color: #b3b3b3;
    font-size: 12px;
    margin: 20px 0 5px;
    padding-bottom: 8px;
    text-align: center;
}

.login-message a {
    color: #6e71af;
    text-decoration: none;
}

.login-message a:hover {
    color: #4854af;
    text-decoration: none;
}

.registrations {
    padding-left: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}

.options {
    border: none;
    outline: none;
}

.login-header-item {
    font-size: 15px;
    display: table-cell;
    border: none;
    outline: none;
    width: 1%;
    padding: 10px;
}

.login-header-item:hover {
    cursor: pointer;
}

.submitable {
    background: #ff8e92;
    cursor: pointer;
}

.submitable:hover {
    background: #7db485;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.unsubmitable {
    background-color: gray;
}

.login-page-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    color: #383436;
    -webkit-transition: all ease;
    transition: all ease;
    background: #ff8e92;
}

.login-page-button:hover {
    background: #7db485;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    cursor: pointer;
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}