@import '~@angular/material/prebuilt-themes/indigo-pink.css';

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}

.mat-form-field-infix.jsRegionInput {
  padding: 0;
}
