<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login page</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/login.js}"></script>
</head>
<body>

<div class="login-wrapper">
    <div class="form">
        <div class="transition-container">
            <ul class="options">
                <li class="login-header-item active">Sign in</li>
                <li class="login-header-item">Restore</li>
            </ul>
        </div>
        <form role="form" th:action="@{/login}" method="post" autocomplete="off">
            <div th:if="${param.error}" class="alert alert-danger">
                <p>Invalid username or password.</p>
            </div>

            <input type="text" id="username" name="username" placeholder="Username"/>
            <input type="password" id="password" name="password" placeholder="Password"/>
            <input type="hidden" id="csrf_token"
                   th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <button type="submit" class="login-page-button submitable">Submit</button>
        </form>
    </div>
</div>
</body>
</html>