<div class="tariff-controls">
  <div class="col-lg-12">
    <div class="row" style="padding: 10px">
      <div class="col-sm-4">
        <div class="dataTables_length" id="tariffTable_length">
          <mat-form-field>
            <mat-select placeholder="Show entries:">
              <mat-option value="5">5</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="50">50</mat-option>
              <mat-option value="100">100</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name:">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-select placeholder="Status">
            <mat-option value="0">All statuses</mat-option>
            <mat-option value="1">ACTIVATED</mat-option>
            <mat-option value="2">DEACTIVATED</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="padding: 0 10px 10px 10px">
      <div class="col-sm-4">
        <mat-form-field>
          <mat-select placeholder="Type">
            <mat-option value="0">All</mat-option>
            <mat-option value="1">Corporate</mat-option>
            <mat-option value="2">Individual</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <input matInput [matDatepicker]="from" (click)="from.open()" placeholder="From">
          <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
          <mat-datepicker #from></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <input matInput [matDatepicker]="to" (click)="to.open()" placeholder="To">
          <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
          <mat-datepicker #to></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="padding: 10px">
      <div class="col-sm-4">
        <mat-form-field>
          <mat-select placeholder="Order By:">
            <mat-option value="0">Date</mat-option>
            <mat-option value="1">Name</mat-option>
            <mat-option value="2">Status</mat-option>
            <mat-option value="3">Type</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-select placeholder="Direction:">
            <mat-option value="ASC">▲</mat-option>
            <mat-option value="DESC">▼</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Filter</button>
    </div>
  </div>

  <div class="table-wrap">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Creation Date</th>
        <th>Is Corp.</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Row 1 Content 1</td>
        <td>Row 1 Content 2</td>
        <td>Row 1 Content 3</td>
        <td>Row 1 Content 4</td>
        <td>Row 1 Content 4</td>
      </tr>
      <tr>
        <td>Row 2 Content 1</td>
        <td>Row 2 Content 2</td>
        <td>Row 2 Content 3</td>
        <td>Row 2 Content 4</td>
        <td>Row 2 Content 4</td>
      </tr>
      <tr>
        <td>Row 3 Content 1</td>
        <td>Row 3 Content 2</td>
        <td>Row 3 Content 3</td>
        <td>Row 3 Content 4</td>
        <td>Row 3 Content 4</td>
      </tr>
      <tr>
        <td>Row 4 Content 1</td>
        <td>Row 4 Content 2</td>
        <td>Row 4 Content 3</td>
        <td>Row 4 Content 4</td>
        <td>Row 4 Content 4</td>
      </tr>
      <tr>
        <td>Row 5 Content 1</td>
        <td>Row 5 Content 2</td>
        <td>Row 5 Content 3</td>
        <td>Row 5 Content 4</td>
        <td>Row 5 Content 4</td>
      </tr>
      <tr>
        <td>Row 6 Content 1</td>
        <td>Row 6 Content 2</td>
        <td>Row 6 Content 3</td>
        <td>Row 6 Content 4</td>
        <td>Row 6 Content 4</td>
      </tr>
      </tbody>
    </table>
    <div class="col-sm-7">
      <div class="dataTables_paginate paging_simple_numbers"
           id="tariffTable_paginate">
        <ul class="pagination">
          <li class="paginate_button previous" id="tariffTable_previous">
            <a aria-controls="tariffTable" data-dt-idx="0"
               tabindex="0" ng-show="page > 0" ng-click="previousPage()">Previous</a>
          </li>
          <li class="paginate_button" ng-show="page > 2"
              ng-click="getPage(0)">
            <a
              aria-controls="tariffTable"
              data-dt-idx="1" tabindex="0">1</a>
          </li>
          <li class="paginate_button_points" ng-show="page > 3">
            <a
              aria-controls="tariffTable"
              data-dt-idx="1" tabindex="0">...</a>
          </li>
          <li class="paginate_button" ng-show="(page - 1)*size > 0"
              ng-click="getPage(page - 2)">
            <a
              aria-controls="tariffTable"
              data-dt-idx="1" tabindex="0">-1</a>
          </li>
          <li class="paginate_button" ng-show="(page)*size > 0"
              ng-click="getPage(page - 1)"><a
            aria-controls="tariffTable"
            data-dt-idx="1" tabindex="0">0</a>
          </li>
          <li class="paginate_button active"><a
            aria-controls="tariffTable"
            data-dt-idx="1" tabindex="0">1</a>
          </li>
          <li class="paginate_button" ng-show="(page + +1)*size < tariffsSelected"
              ng-click="getPage(page+1)">
            <a
              aria-controls="tariffTable"
              data-dt-idx="1" tabindex="0">4</a>
          </li>
          <li class="paginate_button" ng-show="(page + 2)*size < tariffsSelected"
              ng-click="getPage(page+2)">
            <a
              aria-controls="tariffTable"
              data-dt-idx="1" tabindex="0">3</a>
          </li>
          <li class="paginate_button_points" ng-show="page < getMaxPageNumber() - 4">
            <a
              aria-controls="tariffTable"
              data-dt-idx="1" tabindex="0">...</a>
          </li>
          <li class="paginate_button" ng-click="getPage(getMaxPageNumber() - 1)"
              ng-show="page < getMaxPageNumber() - 3">
            <a
              aria-controls="tariffTable"
              data-dt-idx="1" tabindex="0">12</a>
          </li>
          <li class=" paginate_button next pointable" id="tariffTable_next"><a
            aria-controls="tariffTable" data-dt-idx="2"
            tabindex="0" ng-show="(page + 1)*size < tariffsSelected"
            ng-click="nextPage()">Next</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="regions" *ngFor="let r of regionsToAdd">
    <div class="col-md-3">
      <label class="checkbox-label">
        <input type="checkbox" (click)="toggle(r, regionsToSave)"
               [checked]="exists(r, regionsToSave)">
        <span>{{r.region.name}}</span>
      </label>
    </div>
    <div class="col-md-3">
      <mat-form-field [hidden]="!exists(r, regionsToSave)">
        <input
          matInput [(ngModel)]="r.price"
          (change)="checkPrice(r, regionsToSave)"
          type="number" placeholder="Price">
      </mat-form-field>
    </div>
  </div>

  <div>
    <input #fileInput class="hidden"
           type="file" (change)="fileChangeEvent($event)"/>
    <div class="bg-crop-modal" (click)="clear()" [hidden]="!(imageCropStep == 2)">
    </div>
    <div [hidden]="!(imageCropStep == 2)" class="crop-file-choosing">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [imageQuality]="1024"
        format="jpeg"
        [resizeToWidth]="300"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      <button mat-raised-button (click)="crop()">Crop</button>
      <button mat-raised-button (click)="clear()">Cancel</button>
    </div>
    <img class="crop-image-result" [hidden]="!(imageCropStep == 3)" [src]="croppedImage"/>
    <button mat-raised-button (click)="uploadPicture()"
            color="primary">
      Upload Picture
    </button>
  </div>
</div>
