<div class="tariff-controls">


  <div>
    <input #fileInput class="hidden"
           type="file" (change)="fileChangeEvent($event)"/>
    <div class="bg-crop-modal" (click)="clear()" [hidden]="!(imageCropStep == 2)">
    </div>
    <div [hidden]="!(imageCropStep == 2)" class="crop-file-choosing">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [imageQuality]="1024"
        format="jpeg"
        [resizeToWidth]="300"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      <button mat-raised-button (click)="crop()">Crop</button>
      <button mat-raised-button (click)="clear()">Cancel</button>
    </div>
    <img class="crop-image-result" [hidden]="!(imageCropStep == 3)" [src]="croppedImage"/>
    <button mat-raised-button (click)="uploadPicture()"
            color="primary">
      Upload Picture
    </button>
  </div>
</div>
