.nav-wrapper {
  box-shadow: 0 4px 5px -5px #333;
  height: 35px;
}

.horizontal {
  padding-right: 40px;
}

ul.horizontal li {
  display: inline-block;
  font-weight: bold;
  color: #626263;
  padding: 4px;
  cursor: pointer;
}

ul.horizontal li:first-of-type {
  padding-left: 10px;
}

li a {
  text-decoration: none;
  color: #626263;
}

li a:hover {
  text-decoration: none;
  color: #282828;
}

.user-actions {
  float: right;
}

ul.horizontal li:hover {
  color: #282828;
}
