@media (max-width: 767px) {
  .table-wrap table,
  .table-wrap thead,
  .table-wrap tbody,
  .table-wrap th,
  .table-wrap td,
  .table-wrap tr {
    display: block;
  }

  .table-wrap thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table-wrap td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
    white-space: normal;
    text-align: left;
  }

  .table-wrap td:before {
    position: absolute;
    top: 8px;
    left: 15px;
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  .table-wrap td:first-child {
    padding-top: 17px;
  }

  .table-wrap td:last-child {
    padding-bottom: 16px;
  }

  .table-wrap td:first-child:before {
    top: 17px;
  }

  .table-wrap td:before {
    content: attr(data-title);
  }

  .table tbody tr {
    border-top: 1px solid #ddd;
  }

  .table tbody tr td {
    border: none;
  }
}

h1 {
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: normal;
}

.table-wrap {
  background: #fff;
}

@media (min-width: 768px) {
  .table thead tr th,
  .table tbody tr td {
    padding: 15px 20px;
  }
}

.bg-crop-modal {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 10;
  background-color: rgba(36, 48, 53, 0.49);
  -webkit-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

.crop-file-choosing {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 550px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  background: #ccc;
}

.words-controls {
  width: 100%;
  padding-left: 20px;
}
