.jumbotron {
  background: url('../../assets/images/black-and-white-city-houses-skyline.jpg') center center no-repeat;
  background-size: cover;
  height: 560px;
  text-align: center;
}

.jumbotron h1 {
  color: #494648;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-top: 120px;
  margin-bottom: 35px;
  font-size: 55px;
  padding: 10px 20px;
}

.btn {
  background-color: #984B43;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  padding: 16px 30px;
  font-weight: 600;
  transition: all 0.7s ease;
  outline: none;
}

.btn:hover {
  background-color: #699c70;
  color: white;
}

.btn:visited {
  color: white;
  outline: none;
}

.glyphicon {
  text-align: center;
  font-size: 35px;
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.col-btn {
  background: white;
  color: #333;
  padding: 8px 28px;
  font-family: 'Raleway', sans-serif;
}

.col-btn:hover {
  background: #333;
  border: 1px solid white;
  color: white;
}

.footer {
  margin-top: 80px;
}

#footer {
  color: white;
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  margin: 40px 0;
  font-size: 12px;
}

.navbar-bottom {
  margin-top: 130px;
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .jumbotron h1 {
    font-size: 50px;
    padding: 0 40px;
  }
}
