<div class='jumbotron'>
  <div class='container'>
    <h1>Start managing</h1>
    <a class='btn btn-large' href='#' role='button'>GET STARTED</a>
  </div>
</div>

<div class="supporting">
  <div class="container">
    <div class="col">
      <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/design.svg">
      <h2>Design</h2>
      <p>Make your projects look great and interact beautifully.</p>
      <a href="#" class="btn-default">Learn more</a>
    </div>
    <div class="col">
      <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg">
      <h2>Develop</h2>
      <p>Use modern tools to turn your design into a web site</p>
      <a href="#" class="btn-default">Learn more</a>
    </div>
    <div class="col">
      <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/deploy.svg">
      <h2>Deploy</h2>
      <p>Use modern tools to turn your design into a web site</p>
      <a href="#" class="btn-default">Learn more</a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="footer">
  <div class="container">
    <p>&copy; PM World 2017</p>
  </div>
</div>
